.footer {
    height: 17.5rem;
    position: relative;
}


.footer>.secContent {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.contactDiv{
    width: 70%;
}
.text{
    color: white;
    margin-bottom: 1rem;
}
small{
    font-size: .8rem;
}
h2{
    font-size: 1.8rem;
}

.inputDiv > input{
    outline: 2px solid white;
    height: 3rem;
    border-radius: .7rem;
    margin-bottom: 1rem;
    color: white;
    padding: 0 .5rem;
}

.inputDiv> input::placeholder{
    color: rgba(255, 255, 255, 0.768);
}
.inputDiv>.btn{
    width: 50%;
    margin: auto;
    justify-content: space-around;
    font-size: 1rem;
}
.videoDiv video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.iconBox{
    margin-top: 1rem;
    justify-content: space-evenly;
    width: 70%;
    margin: 1rem auto 0 auto;
}
.icon{
    color: rgba(255, 255, 255, 0.775);
}
.icon:hover{
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

@media screen and (min-width:796px){
    .contactDiv{
        width: 40%;
    }
    small{
        font-size: 1.6rem;
    }
    h2{
        font-size: 2.8rem;
    }

    .inputDiv .btn{
        width: 26%;
        margin: none;
    }

}