@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
    transition: transform .5s ease;
}
a:hover{
    transform: translateY(-.4rem);
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    padding: .6rem 1.5rem;
    border-radius: 3rem;
    background-color: hsla(203, 99%, 48%, 0.738);
    border: none;
    cursor: pointer;
}

img, video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
}
